#about {
  background: url(../img/work/splash.jpg) no-repeat;
  background-size: cover;
}

#more {
  top: 100%;

  &:target {
    top: $menu-height * 2;
  }

  img {
    float: right;
    margin: 1em;
    @include border-radius(50%);
  }
}

.ts-callout-about {
  @extend .ts-callout;
  @extend .montserrat;
  color: $white;
  font-size: 50px;

  span {
    white-space: nowrap;
  }
}

.ts-about-text {
  position: fixed;
  top: $menu-height * 2;
  bottom: 0;
  left: 50%;
  width: 800px;
  padding: 1em 2em;
  @include transform(translateX(-50%));
  background: $background;
  overflow: auto;

  .ts-close {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    color: $black;
  }
}
