#about {
  background: url(../img/about.jpg) no-repeat top right;
  background-size: cover;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu-height;
    background: $black;
    background: rgba($black, 0.5);
  }
}

.ts-about-text {
  position: fixed;
  top: $menu-height * 2;
  bottom: 0;
  left: 33%;
  width: 550px;
  padding: 1em 2em;
  @include transform(translateX(-50%));
  background: rgba($white, 0.9);
  overflow: auto;

  p, li {
    font-size: 14pt;
    line-height: 1.2em;
  }
  li {
    margin-bottom: 0.5em;
  }
  img {
    float: right;
    @include border-radius(50%);
  }
}
