#contact {
  background: url(../img/contact2.jpg) no-repeat;
  background-size: cover;
}

.ts-contact-form {
  width: 700px;
  margin: 4em;
  padding: 2em;
  background: $white;
  overflow: auto;
  @include border-radius();

  h1, p {
    @extend .open-sans;
  }

  .ts-form-group {
    position: relative;
    margin: 1em 0;
    padding-top: 1em;
  }

  label {
    position: absolute;
    top: 2em;
    left: 1em;
    z-index: 10;
    @include transition(all 0.2s ease-out);
  }

  input[type=text] ~ label {
    left: 0em;
  }

  input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
    font-size: 10pt;
    color: $primary;
    top: 0;
    left: 0;
  }

  input[type=text], input[type=submit], textarea {
    @extend .open-sans;
    position: relative;
    z-index: 15;
    border-width: 0;
  }

  input[type=text], textarea {
    width: 100%;
    height: 2.6em;
    border-bottom: 1px solid $black;
    background: transparent;

    &:focus {
      outline: none;
      border-bottom: 3px solid $primary;
    }
  }

  textarea {
    height: 8em;
    line-height: 1.2em;
    border: 1px solid $black;
    resize: vertical;

    &:focus {
      border: 2px solid $primary;
    }
  }

  input[type=submit] {
    float: right;
    background: $highlight;
    color: $black;
    margin-top: 1.2em;
    padding: 0.8em 2em;
    font-weight: 600;
    @include border-radius();

    &:hover {
      cursor: pointer;
      background: lighten($highlight, 10%);
    }
  }
}
