@mixin grayscale {
	-webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

//Courtesy of http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') { @content }
	@include optional-at-root('::-moz-placeholder') { @content }
	@include optional-at-root(':-ms-input-placeholder') { @content }
	@include optional-at-root(':-moz-placeholder') { @content }
	@include optional-at-root('::placeholder') { @content }
}
