@import 'normalize';
@import 'css3-mixins';
@import 'custom-mixins';

/*! Begin custom css */

// Stylesheet variables
$menu-height: 100px;
$responsive-break: 1024px;

$white: #f8f8f8;
$black: #222;
$primary: #172D6D;
$secondary: lighten($primary, 50%);
$highlight: #FFBB00;
$background: #eee;

@import 'common';
@import 'home';
@import 'about';
@import 'work';
@import 'contact';

@media screen and (max-width: 1024px) {
  .ts-menu {
    .ts-brand {
      font-size: 34px;
      left: 1em;

      small {
        display: none;
      }
    }
    ul {
      right: 1em;
      li {
        margin-left: 0.8em;
      }
    }
  }
}
