@import 'normalize';
@import 'css3-mixins';

$menu-height: 80px;

/*! Begin custom css */

p {
  font: 18px 'Open Sans', sans-serif;
  color: #333;
}

.ts-menu {
  position: fixed;
  width: 100%;
  height: $menu-height;
  z-index: 500;
  padding: 0 0.5em;
  font: 30px 'Lato', sans-serif;
  color: #222;
  line-height: $menu-height;
  box-sizing: border-box;
  .ts-brand {
    float: left;
    font-size: 42px;
    span {
      font-weight: 700;
    }
  }
  ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 1em;
      a {
        color: #222;
        text-decoration: none;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          margin: -20px auto;
          background: #222;
          @include transition('all 0.08s ease-out');
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

.ts-slide-primary {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgb(182, 218, 255);
  text-align: center;
  @include transition();
  .ts-slide-content {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-top: $menu-height;
  }
  &.ts-active {
    left: 0;
  }
}

.ts-callout {
  display: inline-block;
  background: #eee;
  padding: 1em 2em;
}
