#work {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu-height;
    background: $primary;
  }
}

.ts-work-visual, .ts-work-info, .ts-work-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
}

.ts-work-visual {
  left: 0;
  width: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.ts-work-info {
  left: 50%;
  width: 50%;
  padding: 5em 3em 3em;
  background: $white;
  border-left: 8px solid $black;

  h1 {
    margin-top: 0;
  }
  p, ul {
    width: 420px;
    box-sizing: border-box;
  }
}

.ts-work-nav {
  top: $menu-height;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $background;

  ul {
    width: 100%;
    padding: 2%;

    li {
      position: relative;
      display: inline-block;
      list-style: none;
      width: 17%;
      padding-top: 17%;
      margin: 1%;
      @include box-sizing();
      overflow: hidden;
      background: $black;
      border: 1px solid $black;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        opacity: 1;
        @include transition();
        @include transform(translateX(-50%));
      }

      span {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 40%;
        width: 100%;
        line-height: 2.8em;
        color: $white;
        text-align: center;
        opacity: 0;
        @include transform(translateY(-50%));
        @include transition();
      }

      &:hover {
        span {
          top: 50%;
          opacity: 1;
        }
        img {
          opacity: 0.10;
        }
      }
    }
  }
}

.ts-work-content {
  position: fixed;
  top: $menu-height;
  left: 100%;
  right: auto;
  width: 100%;
  bottom: 0;
  z-index: 50;

  &:target {
    left: 0;
    z-index: 60;
  }

  a {
    color: $primary;
  }

  .ts-work-subnav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color: $white;
    background: $black;

    ul {
      @extend .horizontal-navigation;
      li a {
        display: inline-block;
        color: $white;
        padding: 0.8em;
      }
    }
  }
}
