div#about.ts-slide(class={ 'ts-slide-active': page == 'about' })
  div.ts-slide-content
    div.ts-about-text
      h1 Hi,
      p my name is Tristan and I'm a freelance full stack web developer, UI designer and technical consultant. I specialize in concept implementation and CMS systems, but with over a decade of professional experience and a thirst for knowledge I can handle pretty much any project.

      p Some of my past work includes:

      ul
        li Developing custom themes, plugins and modifiers for existing CMS systems (Wordpress, Joomla, Drupal, ....)
        li Mobile and desktop UI/UX design and implementation
        li AJAX-based single page UI development
        li Socket-level communications for web applications
        li Back end development using existing and custom frameworks
        li Design and implementation of RESTful APIs
        li Triage of server security breaches
        li Custom database design and large volume data handling
        li Technical consultation on framework and software solutions

      p If you're looking for a developer that can transform your project parameters into #[a(href='https://github.com/puck7744/portfolio') clean code] with a low turn around time, #[a(href='/contact/') look no further].
