div#about.ts-slide(class={ 'ts-slide-active': page == 'about' })
  div.ts-slide-content
    div.ts-callout-about
      span A diverse skillset for building
      div.ts-about-type
        span.ts-type-active interactive experiences.
      small: a.ts-action-button(href='#more') LEARN MORE &rarr;
    div#more.ts-about-text
      != content.about
      div.ts-close: a(href='#') X
