div#contact.ts-slide(class={ 'ts-slide-active': page == 'contact' })
  div.ts-slide-content
    form.ts-contact-form(method='POST', action='/contact/send')
      h1 Contact me
      p I would love to hear from you!

      div.ts-form-group
        input(type='text', name='name', required='required')
        label(for='name') Name
      div.ts-form-group
        input(type='text', name='email', required='required')
        label(for='email') Email Address
      div.ts-form-group
        textarea(name='message', required='required')
        label(for='message') Your Message

      input(type='submit', value='Send Message')
