div#home.ts-slide(class={ 'ts-slide-active': page == 'home' })
  div#home-hero
  div.ts-slide-content
    div.ts-callout-home
      span DIGITAL
      span &nbsp;FREEDOM
      br
      span: small Expertise to turn exceptional ideas into elegant code
      br
      small: a.ts-action-button(href='/work') CHECK OUT SOME OF MY WORK &rarr;
