html(lang="en")
  head
    title Portfolio
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:300,600|Montserrat:700', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.ts-menu
      div.ts-brand
        span Tristan Shelton
        span: small= ' <developer>'
      ul.ts-nav.lato
        li: a(href='/', class={ 'ts-nav-active': page == 'home' }) Home
        li: a(href='/about', class={ 'ts-nav-active': page == 'about' }) About
        li: a(href='/work', class={ 'ts-nav-active': page == 'work' }) Work
        li: a(href='/contact', class={ 'ts-nav-active': page == 'contact' }) Contact

    div#home.ts-slide(class={ 'ts-slide-active': page == 'home' })
      div#home-hero
      div.ts-slide-content
        div.ts-callout-home
          span DIGITAL
          span &nbsp;FREEDOM
          br
          span: small Expertise to turn exceptional ideas into elegant code

    div#about.ts-slide(class={ 'ts-slide-active': page == 'about' })
      div.ts-slide-navbar
      div.ts-slide-content
        != content.about

    div#work.ts-slide(class={ 'ts-slide-active': page == 'work' })
      div.ts-slide-navbar
      div.ts-slide-content.ts-work-splash
        //div.ts-callout-dark
          span CREATIVE
          span &nbsp;SOLUTIONS
          br
          small
            span A diverse skillset and trademark adaptability.
            br
            br
            a(href='#browse') See them in action &rarr;
        //div.ts-callout-work
          span CREATIVE
          span &nbsp;SOLUTIONS
          br
          span: small A diverse skillset and trademark adaptability.
          br
          small: a(href='#browse') Learn more &rarr;
        div.ts-callout-work
          span A diverse skillset for building
          br
          span interactive experiences.
          br
          small: a.ts-action-button(href='#browse') CHECK OUT SOME OF MY WORK &rarr;
      each blurb, id in content.work
        div.ts-work-content(id=id)
          div.ts-work-visual
            img(src=`/img/work/full/${id}.jpg`)
          div.ts-work-info
            != blurb
          div.ts-work-subnav
            ul
              li: a(href='#wendy-kagan') &larr; Previous
              li: a(href='#browse') &uarr; Gallery
              li: a(href='#something-fabulous') Next &rarr;
      div.ts-work-nav#browse
        ul
          each blurb, id in content.work
            li: a(href='#'+id): img(src=`/img/work/thumb/${id}.jpg`)

    div#contact.ts-slide(class={ 'ts-slide-active': page == 'contact' })
      div.ts-slide-navbar
      div.ts-slide-content
        form.ts-contact-form(method='POST', action='/contact/send')
          h1 Contact me
          p I would love to hear from you!

          div.ts-contact-fields
            label(for='name') Your Name
            input(type='text', name='name', placeholder="Your Name")

            label(for='email') Return Address
            input(type='text', name='email', placeholder="Return Address")

            label(for='message') Message
            textarea(name='message', placeholder='Your message here')

          input(type='submit', value='Send Message')

    script(src='/js/script.js')
