html(lang="en")
  head
    title Portfolio
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:300,600', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.ts-menu
      div.ts-brand
        span Tristan Shelton
        span: small &nbsp;&lt;developer&gt;
      ul.lato
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/work') Work
        li: a(href='/contact') Contact
    div.ts-slide-primary.ts-active
      div#home-hero
      div.ts-slide-content
        div.ts-home-callout.lato
          span DIGITAL
          span.lato-bold &nbsp;FREEDOM
          br
          span: small Expertise to turn exceptional ideas into elegant code
    script(src='/js/script.js')
