html(lang="en")
  head
    title Portfolio
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:300,600|Montserrat:700', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    include common/menu
    include home
    include about
    include work
    include contact

    script(src='/js/script.js')
