html(lang="en")
  head
    title Portfolio
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700,900|Open+Sans', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.ts-menu
      div.ts-brand
        span.lato-bold Tristan Shelton
        span.lato: small &nbsp;&lt;developer&gt;
      ul.lato
        li: a(href='#') Home
        li: a(href='#') About
        li: a(href='#') Work
        li: a(href='#') Contact
    div.ts-slide-primary.ts-active
      div#home-hero
      div.ts-slide-content
        div.ts-home-callout.lato
          span DIGITAL
          span.lato-bold &nbsp;FREEDOM
          br
          span: small Expertise to turn awesome ideas into elegant code
    script(src='/js/script.js')
