html(lang="en")
  head
    title Portfolio
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700,900|Open+Sans')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.ts-menu
      div.ts-brand
        span TRISTAN SHELTON
      ul
        li Home
        li About
        li Work
        li Contact
    div.ts-slide-primary.ts-active
      div.ts-callout
        p Hello template world!
