div#work.ts-slide(class={ 'ts-slide-active': page == 'work' })
  include work/something-fabulous.pug
  include work/rondout-valley-growers.pug
  include work/a-natural-chef.pug
  include work/den-of-marbletown.pug
  include work/bali-childrens-project.pug
  include work/handcrafted-builders.pug
  include work/stylo-furniture-design.pug
  include work/pidcock-coaching-partners.pug
  include work/jesse-browner.pug
  include work/wendy-kagan.pug
  include work/jet-blue.pug
