h1 The Den of Marbletown

p For this project I provided affordable translation of existing design sensibilities into a functional custom theme for Wordpress 4.1 that maintained the classical aesthetic.

p The client also desired an online presence for their traditional shop which was accomplished using the well known WooCommerce extension.

p Additional accomplishments of this project included:

ul
  li Edit the original background image to tile seamlessly
  li Create functional and customizable menus for the top and main navigation bars
  li Implement a custom lightbox/gallery solution with a simple management interface
  li Translate existing design features like triple borders into pure CSS solutions

a.ts-work-visit(href='http://www.denofmarbletown.com') Visit Website
