h1 Handcrafted Builders

p Provided with a layered and annotated Photoshop file, I hand crafted an efficient and minimalistic theme for a standard Wordpress 4.1 installation.

p Additional services provided with this standard deployment included server set up, security evaluation, plugin installation and content conversion.

a.ts-work-visit(href='http://www.handcraftedbuilders.com/') Visit Website
