h1 Jesse Browner

p Contracted to make an existing DreamWeaver based website mobile friendly, I used external tools to expand the existing style and function with modern responsive design principles while maintaining full compatibility with the original build tools.

p Using minimal structural changes and modular CSS3 I was able to provide the client with a fully functional responsive presentational and navigational systems that retroactively adapted all existing content.

a.ts-work-visit(href='http://www.jessebrowner.com/') Visit Website
