extends template.pug

block setup
  -
    var entry = {
      id: 'jet-blue',
      url: 'http://work-here.jetblue.com/',
      previous: 'wendy-kagan',
      next: 'something-fabulous'
    }
block content
  h1 Jet Blue Careers

  p Currently the 5th largest airline in the United States, JetBlue was looking to support its continued growth with a new informational directory for prospective employees. I was contracted to handle all technical aspects of this important project while the design was developed separately.

  p The Result was an attractive and efficient information portal based on the Wordpress platform. This structure allowed JetBlue's human resources staff to easily maintain and update essential information with familiar and well established interfaces.

  p Duties and services included hand crafting an eye-catching template from scratch (HTML5, CSS3 and PHP5), working closely with existing JetBlue technical staff to ensure smooth integration with existing properties, and management of existing server resources in conjunction with deployment of new assets including emergency handling of issues during off hours.
