extends template.pug

block setup
  -
    var entry = {
      id: 'pidcock-coaching-partners',
      url: 'http://www.pcpidcock.com/',
      previous: 'stylo-furniture-design',
      next: 'jesse-browner'
    }
block content
  h1 Pidcock Coaching Partners

  p In the case of Pidcock Coaching Partners I converted a traditional design into a dynamic website easily updatable by the client. PHP, CSS and Javascript were used to provide eye catching dynamic elements such as slide shows and randomized quotes based on original design.

  p Image based text was converted into search enabled web font text and certain design elements were updated to maximize user friendliness on the new platform.

  p Additional services:

  ul
    li Mass conversion of existing content
    li Special styling for specific pages
    li Enabling simple blogging
    li Search engine optimization
