extends template.pug

block setup
  -
    var entry = {
      id: 'rondout-valley-growers',
      url: 'http://www.rondoutvalleygrowers.org/',
      previous: 'something-fabulous',
      next: 'a-natural-chef'
    }
block content
  h1 Rondout Valley Growers

  p Stepping in to take over for a previous developer who had already accomplished a large portion of the original project, I expanded on the existing work to solve lingering issues and provide additional features.


  h2 Adaptation
  p This extensive project began with renewing an aging Wordpress platform with full security and feature updates to bring it in line with current technology. The existing custom theme also needed to be updated to be mobile friendly in order to meet the client's expectations.

  h2 Extension
  p Next, the client needed specific functionalities that demanded a great deal more than a typical Wordpress installation is capable of. These functions, implemented using a combination of existing plugins and custom extensions, included:

  ul
    li Separate user and administrator authentication
    li Subscription-based user authentication
    li A customized searchable/sortable directory with ties to the subscription system
    li Customized slideshow and feature content systems

  h2 Customization
  p Through a combination of existing plugins and custom code I was able to provide extensive customization options. For example, the ability to adjust locations and appearances of sidebars on specific pages and reference common content sections across multiple pages to simplify maintenance.
