extends template.pug

block setup
  -
    var entry = {
      id: 'something-fabulous',
      url: 'http://www.somethingfab.com/',
      previous: 'jet-blue',
      next: 'rondout-valley-growers'
    }
block content
  h1 Something Fabulous

  p I provided supplementary programming and server management services to an external design team for an existing Wordpress-based website. Services rendered included security evaluation, restoration of damaged databases and migration/reconstruction of content across multiple servers.
