extends template.pug

block setup
  -
    var entry = {
      id: 'stylo-furniture-design',
      url: 'http://www.stylo-fd.com/',
      previous: 'handcrafted-builders',
      next: 'pidcock-coaching-partners'
    }
block content
  h1 Stylo Furniture & Design

  p In the case of Stylo Furniture & Design I provided triage services for an existing Wordpress 4.0 site that was malfunctioning.

  p Drawing on experience in a number of fields I was able to...

  ul
    li ...restore functionality of the ecommerce shop
    li ...implement new contact form funcitonality
    li ...allow the client to cleanly and simply open and close portions of the site that were not ready for prime time
    li ...provide search engine optimization and counseling
    li ...bring all existing software and plugins up to date with current releases
