h1 The Devotion Project

p A series of award winning web documentaries, The Devotion Project provided a unique opportunity and challenge. Leveraging extensive knowledge of disparate platforms, I was able to provide a low-cost solution based on the Silex web framework.

p By minimizing server-side code I was able to help keep server overhead low while maintaining the essential functions required by a client with specific needs.

p Hand coded functionality in the final build included:

ul
  li User authentication
  li Minimal WYSIWYG content management
  li Easy to use embedded video functionality
  li Custom contact form with XSS and anti-spam protection
  li Verified mobile friendliness using the Google test

a.ts-work-visit(href='http://www.thedevotionproject.org/') Visit Website
