extends template.pug

block setup
  -
    var entry = {
      id: 'wendy-kagan',
      url: 'http://www.wendykagan.com/',
      previous: 'jesse-browner',
      next: 'jet-blue'
    }
block content
  h1 Wendy Kagan

  p In the case of Wendy Kagan I was contracted to revive a site that had been completely disabled by malicious intruders. As part of the recovery process I...

  ul
    li ...compared active records to existing backups
    li ...migrated and updated content
    li ...swept existing files for malicious code
    li ...closed the gaps that had allowed access in the first place

  p With recovery complete I proceeded to update existing software and perform a full security evaluation to guard against any future attacks.
